%h1=title t("titles.new_optional_lesson")

=render 'lessons/lesson_under_construction', lesson:@optional_lesson

-if @optional_lesson.friends_lesson?
  %h2=t('lesson.select_friend')
-else
  %h2=t("common.lesson_student_selection")

=render 'student_search'

=render 'application/validation_errors', model: @optional_lesson

-if @students.blank?
  =t('common.not_found')
-else
  =render layout: 'students/students_for_student', locals: {students: @students} do |student|
    =link_to t('common.select'), wizard_path(nil, member_id: student.id), method: :put, class: 'btn btn-small'
  =paginate @students

.buttons
  =img_link_to "common.cancel", {action:"cancel"}, method:"post", data:{confirm:t("messages.confirm_cancellation")}
  -if @optional_lesson.have_enough_students?
    =img_link_to 'common.go_next', next_wizard_path
