.recipients-select
  %h4
    %i.icon-user
    =t('common.headquarter')
  =label_tag "recipients[headquarter]", class:"checkbox" do
    =check_box_tag "recipients[headquarter]"
    =t("common.headquarter")
