%h1=title t('titles.sent_messages')

=render "shared/centered_search_box"

=render 'menu'

-if @messages.blank?
  =t('common.not_found')
-else
  =render layout:'my_messages/my_messages', locals:{messages:@messages} do |message|
    =render 'list_item_action', message:message
  =paginate(@messages)