%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.lessons"), tu_lessons_path
  =breadcrumb_item t("titles.lesson"), tu_lesson_path(@lesson)
  -if @student
    =breadcrumb_item t("titles.student"), tu_lesson_student_path(@lesson, @student)

