=content_for :subheader do
  =render "breadcrumbs"

%h1=title t("titles.student")

=render "bs/students/menu"

=render "students/student", student:@student

%section
  %h2=t("common.charge_settings")
  =render "students/charge_settings", student:@student

%section
  %h2=t("common.favorite_tutor")
  -if @student.favorite_tutors.blank?
    =t('common.not_found')
  -else
    =render "students/favorite_tutors", tutors:@student.favorite_tutors