=content_for :subheader do
  =render "breadcrumbs"

%h1=title t("titles.lesson_report")

=render 'lesson_reports/navigation', lesson_report:@lesson_report

=render 'lesson_reports/lesson_report_for_student', lesson_report:@lesson_report
