- @search_flg ||= false
%h1=title t('titles.new_meeting')

=render 'meetings/meeting_registering', meeting:@meeting

%h2=t('meeting.title.select_parent')

.pagination-centered
  =render 'shared/search_box'

-if @parents.blank?
  =t('common.not_found')
-else
  =render layout:'parents/parents', locals:{parents:@parents} do |parent|
    =link_to t('common.select'), wizard_path(nil, parent_id: parent.id), method: 'put', class: 'btn btn-small'
  -unless @search_flg == true
    =paginate @parents