%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.students"), hq_students_path
  -if @student
    =breadcrumb_item user_display_name(@student), hq_student_path(@student)
    =breadcrumb_item t("titles.optional_lessons"), hq_student_optional_lessons_path(@student)
    -if @lesson
      =breadcrumb_item t("titles.optional_lesson"), hq_student_optional_lessons_path(@student, @lesson)
