=content_for :subheader do
  =render "breadcrumbs"

%h1=title t("titles.bs_registered")

%section
  %h3=t("common.bs_representative_account")
  %table.table
    %tr
      %th=BsUser.human_attribute_name :user_name
      %td=session[:new_bs_user][:user_name]
    %tr
      %th=BsUser.human_attribute_name :password
      %td=session[:new_bs_user][:password]
  .buttons
    =link_to t(".to_this_bs_page"), hq_bs_path(@bs_app_form.bs), class:"btn"