.message.message-detail
  %table.table.message-header
    %tbody
      %tr
        %th=Message.human_attribute_name(:sender)
        %td
          =user_image(message.sender, class: 'message-icon')
          =message.sender_name_for(current_user) # メッセージの差出人が削除された時のために、差出人名をMessageRecipientに保存してある。
      %tr
        %th=Message.human_attribute_name(:title)
        %td=message.title
      %tr
        %th=Message.human_attribute_name(:created_at)
        %td=l(message.created_at, :format => :message)
      -if message.user_files.any?
        =render 'files_row', message: message
  .message-body
    =simple_format(message.text)
