%ul.nav.nav-tabs
  =render 'nav_tab_item', text: t('titles.meetings'), path: bs_meetings_path
  =render 'nav_tab_item', text: t('meeting.status.scheduling'), path: scheduling_bs_meetings_path
  =render 'nav_tab_item', text: t('meeting.status.done'), path: done_bs_meetings_path
