=content_for :tabmenu do
  =render 'nav_tab'

%h1=title t('titles.scheduling_meetings')

=render 'menu'

-if @meetings.empty?
  =t('common.not_found')
-else
  =render layout: 'meetings', locals: {meetings: @meetings} do |meeting|
    =link_button_to 'zoom-in', t('common.detail'), bs_meeting_path(meeting)

