=render "pa/student_header", student:@student

%h3=t("titles.sent_messages")

=render "menu"

-if @messages.blank?
  =t('common.not_found')
-else
  =render layout:"messages/messages", locals:{messages:@messages} do |message|
    =img_link_to "common.detail", pa_student_sent_message_path(@student, message)
  .pagination
    =paginate @messages