%h1=title t("titles.message")

=render "menu"

=render "my_messages/my_message", message:@message
.actions
  .buttons
    =img_link_to "common.back", bs_my_messages_path
    =img_link_to "common.delete", bs_my_message_path(@message), method:"delete", data:{confirm:t("common.do_you_really_delete_this")}
