=content_for :subheader do
  =render 'breadcrumbs'

-#%h1=title t('yucho_account.billings_of_month', year: @year, month: @month)
%h1=title t('yucho_account.automatic_payments_of_month', year: @year, month: @month)

.button-menu
  =link_to t('yucho_account.yucho_csv_file'), {action: :file, year: @year, month: @month, format: :csv}, class: 'btn btn-small'

-if @yucho_billings.empty?
  =t('common.not_found')
-else
  =render 'yucho_billings'
  =paginate @yucho_billings
