%ul.nav.nav-tabs
  =render "nav_tab_item", text:t("titles.lessons"), path:tu_lessons_path
  =render "nav_tab_item", text:t("titles.study_history"), path:history_tu_lessons_path
  =render "nav_tab_item", text:t("common.unreported_lessons"), path:unreported_tu_lessons_path
  =render 'nav_tab_item', text: t('lesson_status.not_started'), path: not_started_tu_lessons_path
