/=render "breadcrumbs"
=content_for :tabmenu do
  =render "nav_tab"

%h1=title t("titles.study_history")

=render "menu"

-if @lessons.blank?
  =t('common.not_found')
-else
  =render layout:'lessons/lessons', locals:{lessons:@lessons} do |lesson|
    =img_link_to "common.detail", tu_lesson_path(lesson), class:"small"
  =paginate @lessons