%ul.breadcrumb
  %li=link_to_unless_current t('titles.exams_management'), hq_exams_path
  -if @exam
    =breadcrumb_item t('titles.exams_for_grade', grade:grade_name(@exam.grade)), {action: 'grade'}
    -if @year
      =breadcrumb_item t("titles.exams_for_grade_subject", grade:grade_name(@exam.grade), subject:@exam.subject.name), {action: 'year'}
      -if @month
        -if @exam.new_record?
          =breadcrumb_item t("titles.new_exam_for_grade_subject", grade:grade_name(@exam.grade), subject:@exam.subject.name), {action: 'new'}
        -else
          =breadcrumb_item t("titles.exam_for_grade_subject_month", grade:grade_name(@exam.grade), subject:@exam.subject.name, month:l(@exam.month, :format => :month_year)), {action: 'show'}