=content_for :tabmenu do
  =render "nav_tab"

%h1=title t("titles.lessons")

-if @lessons.blank?
  =t('common.not_found')
-else
  =render layout:"lessons/lessons", locals:{lessons:@lessons} do |lesson|
    =img_link_to "common.detail", hq_lesson_path(lesson), class:"small"
  =paginate @lessons
