=content_for :tabmenu do
  =render "nav_tab2"

%h1=title t("titles.lessons")

=render "menu"

-if @lessons.blank?
  =t('common.not_found')
-else
  =render layout:"lessons", locals:{lessons:@lessons} do |lesson|
    =img_link_to "common.detail", {action:"show", id:lesson}, class:"small"
    -if lesson.accepted? && current_user.can_cancel?(lesson)
      =img_link_to "common.cancel", {action:"cancel", id:lesson}, method:"post", class:"small", data:{confirm:t("messages.confirm_lesson_cancellation")}
  =paginate @lessons
