%p
  ご登録のメールアドレスに授業開始前のお知らせや、予約確定などのメッセージが転送されます。
  パソコンと携帯の両方に転送される場合は二つ後登録ください。
%p
  また携帯やスマートフォンのメールアドレスをご指定され、迷惑メール等の着信拒否設定を行われている場合、メールを受信することができないため、ご利用の携帯電話会社様の指定ドメイン受信設定を行って頂けます様よろしくお願いいたします。
%p
  ※なお、ドメインとは、メールアドレスの@マークより後ろの部分を指しますので、「aidnet.jp」がドメインに当たります。