.centered
  .pledge
    %iframe(src="/pledges/user.txt" width="100%" height="600px")

  .buttons
    =img_link_to "form.agree", agree_students_path, method:"post"
    =img_link_to "form.disagree", disagree_students_path, method:"post"
