=content_for :js do
  =render 'shared/prevent_going_back'

.centered
  .wrapper
    %h1=title t('student.titles.registration_form')

    =render 'form', student: @student, url: student_path(@student)
