%ul.nav.nav-tabs
  =render 'nav_tab_item', text:t('titles.basic_lessons'), path: bs_basic_lesson_infos_path
  =render 'nav_tab_item', text:t('common.shared_lesson'), path: shared_bs_basic_lesson_infos_path
  =render 'nav_tab_item', text:t('titles.rejected'), path: rejected_bs_basic_lesson_infos_path
  =render 'nav_tab_item', text:t('titles.closed'), path: closed_bs_basic_lesson_infos_path
