%h1=title t('titles.new_bank_account')

=link_button_to('chevron-right', t('common.yucho'), {bank: 'yucho'}, class: 'btn-large')

=link_button_to('chevron-right', t('common.mitsubishi_tokyo_ufj'), {bank: 'mitsubishi_tokyo_ufj'}, class: 'btn-large')
