%ul.breadcrumb
  %li=link_to_unless_current t("titles.settings"), hq_settings_path
  =breadcrumb_item t('titles.charge_settings'), hq_charge_settings_path
  -if @charge_setting
    -if params[:action] == 'edit'
      =breadcrumb_item t('common.edit'), edit_hq_charge_setting_path(@charge_setting)
