/=render "breadcrumbs"

%h1=title t("titles.students")

=render "menu"

/=render "shared/search_box"

-if @students.blank?
  =t('common.not_found')
-else
  =render layout:"students/students", locals:{students:@students} do |student|
    =img_link_to "common.detail", hq_student_path(student), class:"small"
  =paginate(@students)
