.group_lesson_options
  %table.lessson_options
    %tr
      %td
        .button=image_tag 'lesson.no_group_lesson_disabled.gif'
        =t('lesson.message.not_select_student')
      %td
        .button=image_tag 'lesson.not_select_student_disabled.gif'
        =t('lesson.message.not_select_student')
      %td
        .button=image_tag 'lesson.select_student_disabled.gif'
        =t('lesson.message.select_student')