%h1=t('titles.charge_limits')

%table.table
  %tbody
    %tr
      %th=StudentSettings.human_attribute_name :max_charge
      %td=number_to_currency @student_settings.max_charge
.buttons
  =img_link_to 'common.change', edit_st_charge_settings_path