-if current_user.membership_application.present? && current_user.membership_application.new? || @yucho_account.present? && current_user.payment_method.type == YuchoPayment.name
  -if current_user.membership_application.present? && current_user.membership_application.new?
    %h2=t('yucho_account_application.new_yucho_account')
  -else
    %h2=t('yucho_account_application.current_yucho_account')
  %table.table.yucho_account
    %tr
      %th=t('common.bank_name')
      %td=t('common.yucho')
    %tr
      %th=t('common.account_number')
      %td
        =@yucho_account.kigo1
        -if @yucho_account.kigo2.present?
          \-
          =@yucho_account.kigo2
        \-
        =@yucho_account.bango
    %tr
      %th=t('common.account_holder_name')
      %td
        .account_holder_name
          =@yucho_account.account_holder_name
        .account_holder_name_kan
          =@yucho_account.account_holder_name_kana

-if @temp_yucho_account.present?
  %h2=t('yucho_account_application.new_yucho_account')
  %table.table.yucho_account
    %tr
      %th=t('common.bank_name')
      %td=t('common.yucho')
    %tr
      %th=t('common.account_number')
      %td
        =@temp_yucho_account.kigo1
        -if @temp_yucho_account.kigo2.present?
          \-
          =@temp_yucho_account.kigo2
        \-
        =@temp_yucho_account.bango
    %tr
      %th=t('common.account_holder_name')
      %td
        .account_holder_name
          =@temp_yucho_account.account_holder_name
        .account_holder_name_kan
          =@temp_yucho_account.account_holder_name_kana

.guidance
  %p.explanation
    現在、変更依頼申請中です。ゆうちょ自動払込書のお控えの確認ができ次第、変更手続きが完了となります。