%h1=title t('titles.payment_method_registration_content')
%p
  -if @target_user.payment_method.type == "CreditCardPayment"
    ご登録されているお支払い方法は『クレジットカード』です。
    -if @target_user.yucho_requesting?
      %br 現在、ゆうちょ自動払込み手続き申請中です。
  -elsif @target_user.payment_method.type == "DummyPaymentMethod"
    現在、ゆうちょ自動払込み手続き申請中です。
  -else
    ご登録されているお支払い方法は『ゆうちょ自動払込み』です。
    -if @target_user.yucho_requesting?
      %br 現在、ゆうちょ自動払込み手続き申請中です。

%p
  / HQならtarget uidをおくる
  =form_tag(:controller => 'payment_methods', :action => 'payment_method_change', :uid => params[:uid]) do |f|

    %br ＜クレジットカード支払いのご登録＞

    -if @credit_card.present?
      -#=render "application/validation_errors", model:@credit_card
      .alert.alert-error
        %button.close(type="button" data-dismiss="alert") &times;
        クレジットカードの認証に失敗しました。
        再度、ご入力内容をご確認頂いた上で登録をお願いします。

    %table.table
      %tr
        %th=label :number, "クレジットカード番号", class:'required'
        %td=text_field_tag :number, @target_user.get_available_card_number
      %tr
        %th=label :expire, "クレジットカード有効期限 (月/年)", class:'required'
        %td
          :ruby
            datetime_settings = {
              :use_two_digit_numbers => true,
              :discard_day => true,
              :start_year => Date.today.year - 2000,
              :end_year => Date.today.year - 2000 + 10,
              :order => [:month, :year],
              :default => Date.today.next_month,
              :include_blank => true,
            }
          =date_select :expire, '', datetime_settings, style:'width:5em;'
      %tr
        %th=label :security_code, "セキュリティコード (CVV2/CVC2/CID)", class:'required'
        %td
          =text_field_tag :security_code, '', maxlength:4, style:'width:5em;'
          .security-code-image=image_tag 'security_code.png'

    %br ＜ゆうちょ自動払込みのご登録＞

    -if @temp_yucho_account.present?
      =render 'application/validation_errors', model: @temp_yucho_account

    %table.table
      %tr
        %th=t('common.account_number')
        %td.account-number
          -if @target_user.yucho_account.blank?
            =text_field_tag :kigo1, '', maxlength: 5, class: 'input-small', placeholder: t('common.kigo')
            =text_field_tag :kigo2, '', maxlength: 1, class: 'input-mini'
            =text_field_tag :bango, '', maxlength: 8, class: 'input-medium', placeholder: YuchoAccount.human_attribute_name(:bango)
          -else
            =text_field_tag :kigo1, @target_user.yucho_account.kigo1, maxlength: 5, class: 'input-small', placeholder: t('common.kigo')
            =text_field_tag :kigo2, @target_user.yucho_account.kigo2, maxlength: 1, class: 'input-mini'
            =text_field_tag :bango, @target_user.yucho_account.bango, maxlength: 8, class: 'input-medium', placeholder: YuchoAccount.human_attribute_name(:bango)
          %p.help=t('yucho_account.message.second_text_field_can_be_blank')
      %tr
        %th=t('common.account_holder_name')
        %td
          %p
            =label :account_holder_name, t('common.kanji'), style:'float:left;'
            -if @target_user.yucho_account.blank?
              =text_field_tag :account_holder_name, '', style:'margin-left: 10px;'
            -else
              =text_field_tag :account_holder_name, @target_user.yucho_account.account_holder_name, style:'margin-left: 10px;'
          %p
            =label :account_holder_name_kana, t('common.kana2'), style:'float:left;'
            -if @target_user.yucho_account.blank?
              =text_field_tag :account_holder_name_kana, '', style:'margin-left: 10px;'
            -else
              =text_field_tag :account_holder_name_kana, @target_user.yucho_account.account_holder_name_kana, style:'margin-left: 10px;'

    %p.select_credit
      =label_tag :credit_or_yucho_credit_card, class: 'radio' do
        =radio_button_tag :credit_or_yucho, "credit_card", class: 'radio'
        =t('titles.credit_card')

    %p.select_yucho
      =label_tag :credit_or_yucho_yucho, class: 'radio' do
        =radio_button_tag :credit_or_yucho, "yucho", class: 'radio'
        =t('titles.yucho_auto_payment')

    %br
    .form-actions.buttons
      =submit_tag "登録内容を更新する", class: 'btn btn-primary'
