=form_tag nil, method: :get, class: 'form-search' do
  %table
    %tr
      %td
        .tutor
          =text_field_tag :q, params[:q], :placeholder => t('common.search'), class:'search-query input-xlarge'
          =img_submit 'common.search'
          =img_link_to 'common.clear', '#clear'
