%ul.tutor-search-results.tutors
  -tutors.each do |tutor|
    %li
      %table.table.tutor-search-result
        %tr
          %td.photo(rowspan="4")
            =user_image tutor
            .actions
              =yield tutor
          %td
            %span.name
              =user_display_name tutor
            %span.lesson_fee
              %span.item
                =t('common.lesson_fee')
              =number_to_currency tutor.lesson_fee_for_student(student)
            %span.registered_at
              %span.item=Tutor.human_attribute_name :registered_day
              =l tutor.registered_day, format: :year_month_day2
        %tr
          %td
            %span.regular.label.label-info=t("tutor.regular_labels.#{tutor.info.status}")
            %span.graduated=tutor_graduated_label(tutor)
            %span.sex=sex(tutor)
            -if SystemSettings.cs_point_visible? || current_user.hq_user? || current_user.tutor?
              %span.cs_points
                %span.item
                  =t('tutor.cs_points')
                =tutor.info.cs_points
              %span.average_cs_points
                %span.item
                  =t('tutor.average_cs_points')
                =tutor_average_cs_points tutor
        %tr
          %td=render 'tutors/college_rows_for_list', tutor: tutor
        %tr
          %td
            -if SystemSettings.cs_point_visible? || current_user.hq_user? || current_user.tutor?
              %span.total_lesson_units
                %span.item
                  =t('tutor.total_lesson_units')
                =tutor.info.total_lesson_units
            %span.cancellation_count
              %span.item
                =t('tutor.lesson_cancellation_count')
              =tutor.info.lesson_skip_count
