%ul.breadcrumb
  %li
    =link_to_unless_current user_display_name(@student), pa_student_path(@student)
  =breadcrumb_item t('titles.monthly_statements'), pa_student_monthly_statements_path(@student)
  -if @monthly_statement
    =breadcrumb_item monthly_statement_title(@monthly_statement), pa_student_monthly_statement_path(@student, @monthly_statement)

