=content_for :subheader do
  =render 'breadcrumbs'

%h1=title t('titles.monthly_statements')

=render 'menu'

=render 'year_navigation'

=render 'monthly_statements', monthly_statement_strips: @monthly_statement_strips
