%article.registration-form.mail_certification_complete
  %h1 メールアドレス認証（送信完了）

  %p
    ご指定のメールアドレスにご登録手続きに関する案内メールを送信させて頂きました。
  %p
    数分経過しても案内メールが配信されない場合は、迷惑フォルダのご確認をお願い致します。
  %p
    万が一、迷惑フォルダにも配信されなかった場合は、ご指定のメールアドレスに不備があった可能性がございますので、その際はお手数をお掛け致しますが、再度メールアドレス認証のお手続きをお願い致します。

  .buttons
    =link_to '登録画面に戻る', {action: :confirmation1}, class: 'btn btn-large btn-primary'
    %span.close-window.btn.btn-large.btn-primary 画面を閉じる