%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.students"), hq_students_path
  =breadcrumb_item user_display_name(@student), hq_student_path(@student)
  =breadcrumb_item t("titles.basic_lesson_infos"), hq_student_basic_lesson_infos_path(@student)
  =breadcrumb_item t('titles.basic_lesson_info'), hq_student_basic_lesson_info_path(@student, @basic_lesson_info)
  -if @lessons
    =breadcrumb_item t('titles.lessons'), hq_student_basic_lesson_info_lessons_path(@student, @basic_lesson_info)
