%ul.nav.nav-tabs
  =render 'nav_tab_item', text: t('monthly_charging_user.titles.stat'), path: license_monthly_charging_users_path
  =render 'nav_tab_item', text: t('no_charging_user.titles.index'), path: license_no_charging_users_path
