=form_for user, url: path do |f|
  =render "validation_errors", model:user
  %table.table
    %tr
      %th=f.label :password
      %td=f.password_field :password
    %tr
      %th=f.label :password_confirmation
      %td=f.password_field :password_confirmation
  .buttons
    =img_submit "common.change"

