=form.label :sex_male, class:'radio inline' do
  =form.radio_button :sex, 'male'
  =t('common.male')
=form.label :sex_female, class:'radio inline' do
  =form.radio_button :sex, 'female'
  =t('common.female')
