%table.table
  %thead
    %tr
      %th=User.human_attribute_name :user_name
      %th=t("common.full_name")
      %th
  %tbody
    -users.each do |user|
      %tr
        %td=user.user_name
        %td=user.full_name
        %td.actions
          =yield user