#basic_lesson_info-closing.buttons{data: {confirm: t('basic_lesson_info.messages.confirm_to_close'), redirect_url: url_for(action: :show)}}
  =link_to t('basic_lesson_info.close'), '#',
    class: 'btn btn-danger close-button'
