=content_for :tabmenu do
  =render 'nav_tab'

%h1=title t('basic_lesson_info.closed')

-if @basic_lesson_infos.empty?
  =t('common.not_found')
-else
  =render layout: 'basic_lesson_infos', locals: {basic_lesson_infos: @basic_lesson_infos} do |basic_lesson_info|
    =img_link_to 'common.detail', {action: :show, id: basic_lesson_info}, class: 'small'
  =paginate @basic_lesson_infos
