.about-document_camera.help
  %p
    搭載されていない場合は、レッスンに支障を来すため、Webカメラをご送付させて頂きます。
  %p
    ※【注意】なお、内蔵Webカメラが搭載されている場合は、カメラデバイスの干渉を少しでも軽減して頂きたいため、Webカメラの送付は控えさせていただきます。
    %br/
    ですので既存の内蔵Webカメラをご使用頂けます様よろしくお願い致します。