<article class="help-message">
  <p><em>注意事項：</em>スマートフォンや携帯電話等のキャリアメール（docomo.ne.jp, softbank.ne.jp, ezweb.ne.jp ,・・・など）をご入力されます場合、迷惑メールと判断され、迷惑フォルダに自動振り分けされる場合がございますので、ご注意ください。</p>
  <p>また、迷惑メールの受信拒否設定を行われている場合は、自動返信メールを配信する事ができないため、各通信事業会社様（ドコモ、ソフトバンク、auなど）の受信/拒否設定ページをご参照して頂きながら、指定したドメイン（※）の受信を承諾して頂ける設定をお願い致します。</p>
  <p>（※）なお、ドメインとは、メールアドレスの@マークより後ろの部分を指し、弊社から自動送信されますメールは、全てこちらのような形式（xxxxxxxx@aidnet.jp）で配信されますので、aidnet.jpを受信可能なドメインとしてご指定下さい。</p>

  <h3>【各通信事業会社のドメイン受信/拒否設定案内サイト】</h3>
  <p>※「こちら」のリンク先に以下のアドレスを指定してください。</p>
  <p>docomoの方は、<a href="https://www.nttdocomo.co.jp/info/spam_mail/measure/domain/" target="_blank">こちら</a>をクリック。</p>
  <p>softbankの方は、<a href="http://www.softbank.jp/mobile/support/antispam/settings/indivisual/whiteblack/" target="_blank">こちら</a>をクリック。</p>
  <p>auの方は、<a href="http://www.au.kddi.com/support/mobile/trouble/forestalling/mail/anti-spam/fillter/" target="_blank">こちら</a>をクリック。</p>
  <p>emobileの方は、<a href="http://emobile.jp/service/mailsettei.html" target="_blank">こちら</a>をクリック。</p>
  <p>willcomeの方は、<a href="http://www.willcom-inc.com/ja/service/spam/" target="_blank">こちら</a>をクリック。</p>
</article>
