GmailもしくはYahooメールをお持ちでない方は、以下のサイトからメールアドレスの取得をお願い致します。
%br/
Gmailはこちらから【
=link_to 'https://accounts.google.com/SignUp', 'https://accounts.google.com/SignUp', target: '_blank'
】
%br/
Yahooメールはこちらから【
=link_to 'http://promo.mail.yahoo.co.jp/', 'http://promo.mail.yahoo.co.jp/', target: '_blank'
】
