%tr
  %th=t('common.driver_license_number_or_passport_number')
  %td
    .driver-license-number
      =t('common.driver_license_number')
      \:
      =form.driver_license_number
    .passport-number
      =t('common.passport_number')
      \:
      =form.passport_number
