%ul.breadcrumb
  =render 'shared/breadcrumb_item', text: t('coach_messages.titles.list'), url: bs_all_coach_messages_path
  -if @message
    =render 'shared/breadcrumb_item', text: t('titles.message'), url: bs_all_coach_message_path(@message)
