%table.table.membership-application
  %tr
    %th=MembershipApplication.human_attribute_name :user
    %td=user_display_name_with_role yucho_account_application.user
  %tr
    %th=MembershipApplication.human_attribute_name :created_at
    %td=l yucho_account_application.created_at, format: :promise
  %tr
    %th=MembershipApplication.human_attribute_name :status
    %td=membership_application_status yucho_account_application