h1=title t('titles.widget_test')

h2 Video Publisher

=render 'soba_widgets/video_publisher', channel: 'aid-test-1', width: 240, height: 180

h2 Video Subscriber

=render 'soba_widgets/video_subscriber', channel: 'aid-test-1', width: 240, height: 180

