%ul.breadcrumb
  %li=link_to_unless_current t('titles.trial_students'), hq_trial_students_path
  =breadcrumb_item user_display_name(@student), hq_trial_student_path(@student)
  =breadcrumb_item t("titles.lessons"), hq_trial_student_lessons_path
  -if @lesson
    =breadcrumb_item t("titles.lesson"), hq_trial_student_lesson_path(@lesson)
    -if params[:action] == 'accounting'
      =breadcrumb_item t('common.accountings'), accounting_hq_trial_student_lesson_path(@lesson)
    -if params[:action] == 'change_schedule'
      =breadcrumb_item t('lesson.schedule_change'), change_schedule_hq_trial_student_lesson_path(@lesson)
