%h1=title t('titles.parent_registration_complete')

%p
  引き続き、受講者のご登録をお願いいたします。

.buttons
  =link_to t('titles.new_student'), "../../pa/students/", method: :get, class: 'btn btn-large btn-primary'
  -#=link_to t('titles.new_student'), index_pa_student_path, method: :get, class: 'btn btn-large btn-primary'