%ul.nav.nav-tabs
  =render 'nav_tab_item', text:t('common.optional_lesson'), path:tu_lesson_requests_path
  =render 'nav_tab_item', text:t('common.basic_lesson'), path:pending_tu_basic_lesson_infos_path
