=content_for :tabmenu do
  =render "nav_tab"

%h1=title t("titles.parents")

-if @parents.blank?
  =t('common.not_found')
-else
  =render layout:'parents', locals:{parents:@parents} do |parent|
    =img_link_to 'common.detail', bs_parent_path(parent), class: 'small'