=fields_for user_operating_system do |f|
  .os
    =f.select :operating_system_id, OperatingSystem.list.map{|os| [os.name, os.id, 'data-windows_experience_index_score_available' => os.windows_experience_index_score_available?, 'data-custom_os_name_required' => os.unknown?]}
  .custom-operating-system
    =f.text_field :custom_os_name
