-#.menu
-#  .menu-item=link_to t("titles.monthly_statements"), hq_student_monthly_statements_path(@student)
-#  .menu-item=img_link_to "titles.journal_entries", hq_student_journal_entries_path(@student)