=content_for :subheader do
  =render 'breadcrumbs'

%h1=title t("titles.students")

=render 'menu'

=render 'shared/centered_search_box'

-if @students.blank?
  =t('common.not_found')
-else
  =render layout:'students/students', locals:{students:@students} do |student|
    =img_link_to 'common.detail', hq_student_path(student), class:'small'
    =img_link_to 'common.send_message', new_hq_my_message_path(recipients:student.id), class:"small"
  =paginate(@students)
