<div id="soba-widget-subscriber-<%= channel %>"
     class="soba-widget-video"
     data-width="<%= width %>"
     data-height="<%= height %>"></div>
<script src="<%= SobaWidget.video_subscriber_url(channel) %>" type="text/javascript"></script>
