%table.table.monthly_statement
  %tbody
    -monthly_statement.items.each do |item|
      %tr
        %td=account_item(item)
        %td=number_to_currency(item.receipt)
    / 消費税は無くなったので表示する必要はないが、消費税が加算されているデータを検出するために、
    / 金額がある場合のみ表示する。
    -if monthly_statement.tax_of_payment > 0 || monthly_statement.tax_of_money_received > 0
      %tr.tax
        %td=t('monthly_statement.consumption_tax')
        %td=number_to_currency monthly_statement.receipt_tax
    %tr.total
      %td=t('monthly_statement.payment_amount')
      %td=number_to_currency monthly_statement.receipt
