.buttons
  =link_to t('monthly_statement.calculate'), {action: :calculate}, method: :post, class: 'btn'
  %p.help=t('monthly_statement.period_from_to', from: monthly_statement_first_day(@monthly_statement), to: monthly_statement_last_day(@monthly_statement))
