=content_for :tabmenu do
  =render 'nav_tab'

%h1=title t('titles.monthly_statements')

=render 'menu'

=render 'year_navigation'

=render 'monthly_statements', monthly_statement_strips: @monthly_statement_strips
