#lesson-room.lesson-room-for-student{data: {lesson_id: @lesson.id, user_id: current_user.id, user_type: current_user.role}}
  -if @lesson.ended?
    =render 'lesson_ended', lesson:@lesson
  -else
    =render "lesson_room_#{@lesson.style}", lesson:@lesson
    .lesson-information.row-fluid
      .span6
        %section
          %h2=t("titles.lesson_time_schedule")
          =render "lessons/time_schedule", lesson:@lesson
      .span6
    .lesson-monitor-for-student
  .lesson-notifications

=render 'lessons/templates', student:current_user, lesson:@lesson
