%article.registration-form.confirmation2
  %h1 ご確認事項（ゆうちょ銀行口座もしくはクレジットカード）
  -if current_user.free?
    %p
      一般会員登録を行うには、お支払い方法をご登録頂く必要がございます。
      %br
      ・受講者さま名義のゆうちょ口座
      %br
      ・受講者さま名義のクレジットカード（VISA または Master）
      %br
      上記2点の内、どちらかが必要となりますが、お持ちでしょうか？

  -else
    %p
      本システムをご利用されます受講者様名義のゆうちょ銀行口座もしくは
      %br
      クレジットカード（VISAまたはMaster）が必要となります。
      %br
      ゆうちょ銀行口座もしくはクレジットカード（VISAまたはMaster）はお持ちでしょうか？

  %div.services
    =image_tag 'registration/yucho.png'
    =image_tag 'registration/visa.png'
    =image_tag 'registration/master.png'

  .buttons
    =button_to t('common.yes'), {action: :process_confirmation, has_payment_method: 1}, class: 'btn btn-large btn-primary'
    =button_to t('common.no'), {action: :process_confirmation, has_payment_method: 0}, class: 'btn btn-large btn-primary'