=img_link_to 'common.detail', {action: :show, id: monthly_statement}, class: 'small'
=link_to t('yucho_account.list'), monthly_hq_yucho_accounts_path(year: monthly_statement.year, month: monthly_statement.month), class: 'btn btn-small'
