%p.help
  0.0から9.9の範囲内の数値（小数点第１位まで）をご指定ください。
%p.help
  基本スコアが4.0に満たなかった場合、本システムをご利用頂くことができません。
%p.help
  Windowsエクスペリエンスインデックスの確認方法は
  %a(href="http://aidnet.jp/application-minimum-condition/" target="_blank") こちら
  をご参照ください。
