%ul.nav.nav-tabs
  =render 'nav_tab_item', text:t('titles.tutors'), path:hq_tutors_path
  =render 'nav_tab_item', text:t('titles.left_tutors'), path:left_hq_tutors_path
  =render 'nav_tab_item', text:t('titles.absent_tutors'), path:absent_hq_tutors_path
