.new_email_confirmation_form {
  background-color: #fff;

  th {
    white-space: nowrap;
  }
}

#email_table_head{
	width:170px;
}

#agreement_check{
	margin-top: 30px;
	margin-left: 230px;
}

.registration-form.mail_certification_complete p{
	padding: 0px 15px;
}