%table.table.lesson
  %tr
    %th=t("common.tutor")
    %td=user_display_name(lesson.tutor)
  %tr
    %th=t("common.time")
    %td=render 'lessons/time_range', lesson:lesson
  %tr
    %th=t("common.students")
    %td
      -lesson.students.each do |student|
        .student.lesson-student{data: {id: student.id, status: "is-#{student.of_lesson(lesson).status}"}}
          %span.name
            =user_display_name student
  %tr
    %th=Lesson.human_attribute_name :status
    %td
      %span=lesson_status(lesson)
      -if lesson.rejected?
        -rejection = lesson.lesson_request_rejection
        -if rejection.present?
          %p.rejected_reason
            =rejection.reason

  %tr
    %th=t('common.lesson_style')
    %td=lesson_style(lesson)

  %tr
    %th=Lesson.human_attribute_name :type
    %td=lesson_type(lesson)

  -if lesson.cs_point.present?
    %tr
      %th=Lesson.human_attribute_name :cs_point
      %td=lesson.cs_point
