%ul.materials.thumbnails
  -lesson.materials.each do |material|
    %li.span3
      .owner=user_display_name(material.owner)
      =link_to image_tag(material.material_url), material.material_url, class:"thumbnail"
