.materials
  =render 'lesson_materials/slide_template', channel: SobaWidget.lesson_materials_channel(lesson, user), width: 720, height: 540, url: lesson_member_materials_url(lesson, user, format: 'json')
.cover
