#lesson-room{data: {lesson_id: lesson.id, user_id: current_user.id, user_type: current_user.role}}
  .lesson-room.clearfix.is-monitoring
    .video-column
      .video
        =render 'soba_widgets/video_subscriber', channel: lesson_video_channel(lesson, lesson.tutor), width:216, height:162
      .students
        -lesson.students.each do |student|
          .video
            =render 'soba_widgets/video_subscriber', channel: lesson_video_channel(lesson, student), width:216, height:162
    .desks.tabbable.tabs-below
      .tab-content
        .tab-pane.desk-pane.tutor-desk.active
          =render 'tutor_desk', lesson:lesson
        -lesson.students.each_with_index do |student, i|
          .tab-pane.desk-pane{:class => "student-#{student.id}-desk"}
            =render 'student_desk', lesson:lesson, student:student
      %ul.nav.nav-tabs
        %li.active
          %a(data-target=".tutor-desk" data-toggle="tab" href="#")=lesson.tutor.nickname
        -lesson.students.each do |student|
          %li
            %a(data-target=".student-#{student.id}-desk" data-toggle="tab" href="#")=student.nickname

=render "templates"
