.about-volunteer-work.help
  %p
    スペシャルチューターとは、高い専門性と優れた指導力で効果の高いレッスンを提供してきた実績あるプロ家庭教師のことです。
  %p
    周囲とは異なる時間報酬（レッスン料はご自身で決めて頂きます）でも勝負できると自認できる方を指しており、こちらで、【はい】をご選択される方は、自己アピール欄にその実績を書き入れていただき、弊社教務部の面接を経て決定いたします。
  %p
    尚、受験情報に精通している必要はございません。