%ul.nav.nav-tabs
  -if @parent
    -#=render "nav_tab_item", text:t("titles.student"), path:hq_student_path(@student)
    -#=render "nav_tab_item", text:t("titles.basic_lesson_infos"), path:hq_student_basic_lesson_infos_path(@student)
    -#=render "nav_tab_item", text:t("titles.optional_lessons"), path:hq_student_optional_lessons_path(@student)
    -#=render "nav_tab_item", text:t("titles.monthly_statements"), path:hq_student_monthly_statements_path(@student)
    -#=render "nav_tab_item", text:t("titles.journal_entries"), path:hq_student_journal_entries_path(@student)
  -else
    =render "nav_tab_item", text:t("titles.parents"), path:hq_parents_path
    =render "nav_tab_item", text:t('titles.left_parents'), path:left_hq_parents_path
