=content_for :tabmenu do
  =render "nav_tab"

%h1=title t("titles.left_parents")

=render "menu"

-if @parents.blank?
  =t('common.not_found')
-else
  =render layout:"parents/left_parents", locals:{parents:@parents} do |parent|
    =img_link_to "common.detail", hq_parent_path(parent), class:"small"
  =paginate @parents
