%h1=title t('titles.new_meeting')

=render 'application/validation_errors', model:@meeting

=render 'meetings/meeting_registering', meeting: @meeting

.buttons
  /=img_link_to "common.cancel", {action:"cancel"}, method:"post", data:{confirm:t("messages.confirm_cancellation")}
  /=img_link_to 'common.send', wizard_path, method:'put'
  =link_to t('common.register'), wizard_path, method: 'put', class: 'btn'
