%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.coaches"), hq_coaches_path
  -if @coach
    -if @coach.new_record?
      =breadcrumb_item t('titles.new_coach'), new_hq_coach_path(@coach)
    -elsif params[:action] == 'edit'
      =breadcrumb_item t('titles.edit_coach'), edit_hq_coach_path(@coach)
    -else
      =breadcrumb_item t('titles.coach'), hq_coach_path(@coach)
      -if params[:action] == 'change_password'
        =breadcrumb_item t('titles.change_password'), {action: :change_password}
