%table.table.coach.coach-detail{class: "is-#{coach.status}"}
  %tr
    %th=Bs.human_attribute_name :name
    %td=coach.organization.name
  %tr.photo
    %th=Coach.human_attribute_name :photo
    %td=user_image coach, width: 64
  %tr
    %th=Coach.human_attribute_name :user_name
    %td=coach.user_name
  %tr
    %th=Coach.human_attribute_name :full_name
    %td=coach.full_name
  %tr
    %th=Coach.human_attribute_name :full_name_kana
    %td=coach.full_name_kana
  %tr
    %th=Coach.human_attribute_name(:address)
    %td=render "addresses/address", address: coach.address if coach.address.present?
  %tr
    %th=Coach.human_attribute_name :sex
    %td=sex(coach)
  %tr
    %th=t("common.phone_number")
    %td=coach.phone_number
  %tr
    %th=t("common.email")
    %td=coach.email
  %tr
    %th=Coach.human_attribute_name :registered_day
    %td=l coach.registered_day, format: :year_month_day2
  %tr
    %th=Coach.human_attribute_name :timezone
    %td=coach.timezone
