=content_for :subheader do
  =render 'breadcrumbs'

%h1=title t("titles.coach")

=render 'application/validation_errors', model: @coach

=render 'coach', coach: @coach

.buttons
  =link_button_to 'edit', t('common.edit'), {action: :edit, id: @coach}
  =link_to t('user.deactivate'), {action: :deactivate, id: @coach}, method: :post, class: 'btn', data: {confirm: t('user.confirm_to_deactivate')}
