.demander
  .company-name
    株式会社 キャニオン・マインド
  .department-name
    エイドネット事業部
  .address
    .postal-code
      〒 604-0022
    .line1
      京都市中京区室町通り御池上る
    .line2
      御池之町323
    .building
      ミサワ京都ビル5F
  .telephone
    電話番号： 075-253-5555
  .payment-account
    .bank
      振込先：　三菱東京UFJ銀行
    .branch
      高槻支店
    .account-type
      普通預金
    .account-number
      0149991
