%h1=title t("titles.lesson_reports")

=render 'search'

-if @lesson_reports.blank?
  =t('common.not_found')
-else
  =render layout:'lesson_reports', locals:{lesson_reports:@lesson_reports} do |lesson_report|
    =link_button_to 'zoom-in', t('common.detail'), tu_lesson_report_path(lesson_report), class: 'btn-small'
  =paginate @lesson_reports

.buttons
  =link_to t('titles.lessons_without_reports'), unreported_tu_lessons_path, class: 'btn'
