%h1=title t("titles.unreported_lessons")

-if @lessons.blank?
  =t('common.not_found')
-else
  %table.table.lesson-list
    %thead
      %tr
        %th=t("common.datetime")
        %th=t("common.students")
        %th=t("common.lesson_type")
        %th
    %tbody
      -@lessons.each do |lesson|
        %tr.lesson{class:lesson.cancelled? ? "lesson-cancelled" : "hello"}
          %td=lesson_time_range(lesson)
          %td
            %ul
              -lesson.students.each do |student|
                %li=student.full_name
          %td=lesson_type(lesson)
          %td
            =img_link_to "common.detail", tu_lesson_path(lesson), class:"small"
