%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.monthly_statements"), st_monthly_statements_path
  -if @monthly_statement
    =breadcrumb_item t("titles.monthly_statement", month:l(@monthly_statement.date, :format => :month_year)), st_monthly_statement_path(@monthly_statement)
