.menu
  .menu-item=link_to_unless_current t("common.search"), st_tutors_path
  .menu-item=link_to_unless_current t("common.favorite"), favorites_st_tutors_path
  .menu-item=link_to_unless_current t("menu.tutors_in_cs_order"), cs_st_tutors_path
