=content_for :tabmenu do
  =render "nav_tab"

%h1=title t('titles.tutors_by_cs_points')

=render layout:"tutors/tutors_with_cs_points", locals:{tutors:@tutors} do |tutor|
  =img_link_to "common.detail", st_tutor_path(tutor), class:"small"
