%h1=title t('titles.student_registration_complete')

%p
  ご登録のメールアドレスにアカウント情報ならびに重要事項をお送りさせて頂きましたので、
  %br
  かならずご確認いただけますようよろしくお願いいたします。

.buttons
  =link_to t('common.go_to_top'), root_path, method: :delete, class: 'btn btn-large btn-primary'
