#lesson-room.lesson-room-for-tutor{data: {lesson_id: @lesson.id, user_id: current_user.id, user_type: current_user.role}}
  -if @lesson.finished?
    =render 'lesson_ended', lesson:@lesson
  -else
    .lesson-message
      %span.title=t('titles.from_headquarter')
      %span.content=LessonSettings.message_to_tutor

    =render "lesson_room_#{@lesson.style}", lesson:@lesson

    .lesson-information.row-fluid
      .span6
        %section
          %h2=t("titles.lesson_time_schedule")
          =render "lessons/time_schedule", lesson:@lesson
        -#%section
        -#  %h4=t("titles.lesson_info")
        -#  =render "lessons/lesson_info", lesson:@lesson
      .span6
        -if @lesson.has_option_to_extend?
          %section
            %h2=t("titles.lesson_extension")
            =render 'tu/lessons/extensions/lesson_extension', lesson:@lesson

=render "lessons/templates", lesson:@lesson
=render 'dialogs', lesson:@lesson
