%ul.breadcrumb
  %li
    =link_to_unless_current t('titles.textbooks'), st_textbooks_path
  =breadcrumb_item @textbook.title, st_textbook_path(@textbook)
  =breadcrumb_item t('titles.answer_book'), st_textbook_answer_book_path(@textbook)
