=form_for parent, url:url do |f|
  -if @parent_form
    =render 'application/validation_errors2', model: @parent_form
  -else
    =render 'validation_errors', model:parent
  %table.table
    -if current_user.hq_user? || current_user == parent
      %tr
        %th=f.label :user_name, class:'required'
        -if current_user.admin? || current_user == parent
          %td.field=f.text_field :user_name, :required => true
        -else
          %td.field=f.text_field :user_name, :required => true, :readonly => true

    %tr
      %th
        %span.required=User.human_attribute_name :full_name
      %td
        .full_name
          =f.label :last_name
          =f.text_field :last_name, class: 'input-small'
          =f.label :first_name
          =f.text_field :first_name, class: 'input-small'
    %tr
      %th
        %span.required=User.human_attribute_name :full_name_kana
      %td
        .full_name_kana
          =f.label :last_name_kana
          =f.text_field :last_name_kana, class: 'input-small'
          =f.label :first_name_kana
          =f.text_field :first_name_kana, class: 'input-small'

    %tr
      %th=f.label :phone_number
      %td
        =f.telephone_field :phone_number, :required => true
        .help=t('messages.hankaku_only')
    %tr
      %th=t("common.address")
      %td=render "addresses/form", address:parent.address || Address.new

    %tr
      %th=f.label :sex, class: 'required'
      %td
        =f.label :sex_male, id: 'sex_male', class: 'radio' do
          =f.radio_button :sex, 'male'
          =t('common.male')
        =f.label :sex_female, id: 'sex_famale', class: 'radio' do
          =f.radio_button :sex, 'female'
          =t('common.female')

    =render 'users/email_field', f: f

    =render 'specs/fields2', f:f, user_operating_system: parent.user_operating_system

    =render 'questions/form_for_how_to_find', answer: @parent_form.how_to_find

    =render 'questions/form_for_reason_to_enroll', answer: @parent_form.reason_to_enroll

  .form-actions.buttons
    =img_submit "common.send"
