=content_for :subheader do
  =render "breadcrumbs"

%h1=title t("common.parent") + ":" + @parent.full_name

=render "menu"

=render "parents/parent", parent:@parent

%section
  %h2=t("titles.student")
  -if @parent.students.empty?
    =render t('common.not_found')
  -else
    =render 'students/students', students:@parent.students
