%ul.breadcrumb
  %li=link_to_unless_current t("titles.basic_lesson_infos"), tu_basic_lesson_infos_path
  =breadcrumb_item t("titles.basic_lesson_info"), tu_basic_lesson_info_path(@basic_lesson_info)
  =breadcrumb_item user_display_name(@student), tu_basic_lesson_info_student_path(@basic_lesson_info, @student)
  =breadcrumb_item t('titles.lesson_reports'), tu_basic_lesson_info_student_lesson_reports_path(@basic_lesson_info, @student)
  -if @lesson_report
    =breadcrumb_item t('titles.lesson_report'), tu_basic_lesson_info_student_lesson_report_path(@basic_lesson_info, @student, @lesson_report)