%ul.breadcrumb
  %li=link_to_unless_current t("titles.basic_lesson_infos"), bs_basic_lesson_infos_path
  =breadcrumb_item t('titles.basic_lesson_info'), bs_basic_lesson_info_path(@basic_lesson_info)
  -if params[:action] == 'new'
    =breadcrumb_item t('titles.add_basic_lesson_info_student'), new_bs_basic_lesson_info_student_path(@basic_lesson_info)
