%table.table.meeting_report
  %tbody
    -@meeting.members.each do |member|
      %tr
        %th
          =user_type(member)
          ID
        %td
          =user_name member
        %th
          =user_type(member)
          =User.human_attribute_name :full_name
        %td
          =user_display_name member

    -if @student
      -@student.basic_lesson_tutors.each do |basic_lesson_tutor|
        %tr
          %th=t('common.basic_lesson_tutor_id')
          %td=user_name basic_lesson_tutor
          %th=t('common.registered_tutor_full_name')
          %td=user_display_name basic_lesson_tutor

    %tr
      %th=Meeting.human_attribute_name :datetime
      %td(colspan="3")
        =l @meeting.datetime, format: :promise

    %tr
      %th=MeetingReport.human_attribute_name :lesson_type
      %td(colspan="3")
        =t("common.#{meeting_report.lesson_type}") if meeting_report.lesson_type.present?

    -if @student
      %tr
        %th=Grade.model_name.human
        %td=grade_name(@student.grade)
        %th=MeetingReport.human_attribute_name :subjects
        %td=meeting_report.subjects

    %tr
      %th=t('common.total_meeting_count')
      %td(colspan="3")
        %ul
          -@meeting.members.select{|m| m.student? || m.parent? || m.tutor?}.each do |member|
            %li="#{user_display_name(member)} (#{member.meeting_count})"

    %tr
      %td.text(colspan="4")
        =simple_format meeting_report.text
