%ul.breadcrumb
  %li
    =link_to_unless_current t("titles.students"), hq_students_path
  =breadcrumb_item user_display_name(@student), hq_student_path(@student)
  =breadcrumb_item t('common.coach'), hq_student_coach_path(@student)
