%table.table
  %tr
    %th(colspan="2")
      =t('titles.credit_card_current')
  %tr
    %th
      =t('helpers.label.credit_card.number')
    %td
      =@card_number
%p.credit_card.help
  ※上6桁、下2桁のみの表示となります。