-if current_user.can_access?(:accounting, :write)
  .buttons
    =link_to t('common.adjust'), hq_student_monthly_statement_adjusting_entries_path(@student, @monthly_statement), class:'btn'
    =link_to t('titles.journal_entries'), hq_student_monthly_statement_journal_entries_path(@student, @monthly_statement), class:'btn'
    -if params[:debug]
      =link_to t('monthly_statement.calculate'), calculate_hq_student_monthly_statement_path(@student, @monthly_statement), {action: :calculate_all}, method: :post, class: 'btn'
