.guidance
  %p.explanation
    詳細なお手続き方法につきましては、弊社ホームページ（
    =link_to 'こちら', 'http://aidnet.jp/application-payment/'
    ）をご参照して頂きながらお申込の手続きをお願い致します。
  .buttons
    =link_to t('common.go_to_top'), destroy_user_session_path, method: :delete, class: 'btn btn-large btn-primary'
