%ul.breadcrumb
  %li=link_to t("titles.basic_lesson_infos"), bs_student_basic_lesson_infos_path(@student)
  =breadcrumb_item t("titles.basic_lesson_info"), bs_student_basic_lesson_info_path(@student, @basic_lesson_info)
  =breadcrumb_item t("titles.lessons"), bs_student_basic_lesson_info_lessons_path(@student, @basic_lesson_info)
