=content_for :subheader do
  =render "breadcrumbs"

%h1=title t("titles.document_camera_users")

-if @document_cameras.empty?
  =t('common.not_found')
-else
  %table.table
    %tbody
      -@grouped_document_cameras.each do |date, document_cameras|
        %tr
          %td=link_to l(date, :format => :year_month_day), daily_hq_document_cameras_path(year:@year, month:@month, day:date.day)
          %td=document_cameras.size

