%ul.breadcrumb
  %li
    =link_to_unless_current t('titles.students'), hq_students_path
  =breadcrumb_item user_display_name(@student), hq_student_path(@student)
  =breadcrumb_item t('titles.monthly_statements'), hq_student_monthly_statements_path(@student)
  =breadcrumb_item t('titles.monthly_statement', month:l(@monthly_statement.date, :format => :month_year)), hq_student_monthly_statement_path(@student, @monthly_statement)
  =breadcrumb_item t('titles.journal_entries'), hq_student_monthly_statement_journal_entries_path(@student, @monthly_statement)
  -if @journal_entry
    =breadcrumb_item @journal_entry.name, hq_student_monthly_statement_journal_entry_path(@student, @monthly_statement, @journal_entry)
