<p class="explanation before-time-limit">
  レッスン開始後<%= LessonSettings.dropout_limit || 10 %>分以内のキャンセルにつきましては、<br/>
  課金されませんので、ご安心ください。
</p>
<p class="explanation after-time-limit">
  キャンセル可能な時刻を過ぎました。
</p>
