.lesson-extension.lesson-extension-student.is-default
  .default
    %table.table
      %tr
        %td(colspan="2")
          %button.apply-extension.btn(href="#")=t("common.accept_extension")
  .extension-enabled
    %table.table
      %tr
        %td(colspan="2")
          %button.apply-extension.btn(href="#")=t("common.accept_extension")
  .extended
    =t("messages.lesson_extended")

