.desk{class: "student-#{student.id}", data: {student_id: student.id, user_id: student.id}}
  .desk-content
    .tab-content
      .tab-pane.textbook-pane.active
        =render 'textbook_pane', student: student, lesson: lesson
      .tab-pane.materials-pane
        =render 'materials_pane', user: student, lesson: lesson
  .desk-content-switch
    %ul.nav.nav-pills.switcher{"data-student_id" => student.id}
      %li.active
        %a.switch_button.switch_button-textbooks(data-target=".desk.student-#{student.id} .textbook-pane" data-toggle="pill" href="#")
          =t("common.textbook")
      -if lesson.student_materials(student).any?
        %li
          %a.switch_button.switch_button-materials(data-target=".desk.student-#{student.id} .materials-pane" data-toggle="pill" href="#")
            =t("common.lesson_material")
