=content_for :tabmenu do
  =render "nav_tab"

%h1=title t("titles.tutors")

.pagination-centered
  =render 'tutors/search'

-if @tutors.blank?
  =t('common.not_found')
-else
  =render layout: 'tutors/tutors', locals:{tutors:@tutors} do |tutor|
    =img_link_to 'common.detail', bs_tutor_path(tutor), class: 'small'
  =paginate @tutors
