%h1=title t('titles.new_member_cancellation')

=render 'explanation_about_leaving'

.error-messages-holder

=render 'form'

=render 'wait_screen'

#templates
  =render 'shared/error_messages_template'
